@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", serif;
}

:root {
    --primary: #4ec58022;
   
    --text-dark: #1F2937;
    --text-light: #6B7280;
}

.nav {
    position: absolute;
    width: 100%;
    
    padding: 1rem 2rem;
    
    z-index: 1000;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 180px;
    height: 30px;
   
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-dark);
}
.nav-links a:hover{
    color:#0d9971b7;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn-primary {
    background: #0d9971b7;
    color: white;
}


.hero {
    padding: 8rem 2rem 4rem;
    background: linear-gradient(135deg, #92cea922 0%,#74c09122 100%);
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 3rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 1.25rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
}



.hero1 {
    padding: 8rem 2rem 4rem;
    background: linear-gradient(135deg, #4ec58033 0%,#46cf7f22 100%);
}

.hero-content1 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.hero-text1 {
    flex: 1;
}

.hero-text1 h2 {
    font-size: 2.3rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
    
}

.hero-text1 p {
    font-size: 1.25rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-image1 {
    flex: 1;
}

.hero-image1 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
}





.hero2 {
    padding: 8rem 2rem 4rem;
    background: linear-gradient(135deg, #92cea922 0%,#74c09122 100%);
}

.hero-content2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.hero-text2 {
    flex: 1;
}

.hero-text2 h2 {
    font-size: 2.3rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}

.hero-text2 p {
    font-size: 1.25rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-image2 {
    flex: 1;
}

.hero-image2 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
}





.hero3 {
    padding: 8rem 2rem 4rem;
    background: linear-gradient(135deg, #4ec58033 0%,#46cf7f22 100%);
}

.hero-content3 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.hero-text3 {
    flex: 1;
}

.hero-text3 h2 {
    font-size: 2.3rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}

.hero-text3 p {
    font-size: 1.25rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-image3 {
    flex: 1;
}

.hero-image3 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
}




.hero4 {
    padding: 8rem 2rem 4rem;
    background: linear-gradient(135deg, #92cea922 0%,#74c09122  100%);
}

.hero-content4 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.hero-text4 {
    flex: 1;
}

.hero-text4 h2 {
    font-size: 2.3rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}

.hero-text4 p {
    font-size: 1.25rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-image4 {
    flex: 1;
}

.hero-image4 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
}




.footer {
    padding: 4rem 2rem;
    background: #111827;
    color: white;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer ul {
    list-style: none;
}

.footer li {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero-content {
        flex-direction: column;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}












  .our{
   
    text-align: center;
   
    color: var(--text-dark);
    margin-bottom: 3rem;
  }
  .slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .slide_track{
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
  }

  

  @keyframes scroll{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translatex(calc(-250px * 9));
    }
  }

  .slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;

  }
  
  .slide img{
    width: 100%;
  }

  
 






  .contact_us_2 * {
    font-family: Nunito, sans-serif;
   
  }
  
 
  
 
  
  
  
  
  
  .contact_us_2 .responsive-container-block {
    min-height: 75px;
    background: url(backgroundCall.png);
    background-size: auto;
   
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
 
  
  
  .contact_us_2 .container-block.form-wrapper {
   
    max-width: 799px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  
  
  .contact_us_2 .text-blk.contactus-subhead {
    color: #030303;
    font-family: "Urbanist", serif;
    font-size: 22px;
    font-weight: 800;
    font-height:45px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
  }
  
  .contact_us_2 .input {
    width: 96%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .contact_us_2 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
   
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .contact_us_2 .submit-btn {
    width: 20%;
    background-color:#0d9971b7;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
   
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
  }
  
  .contact_us_2 .form-box {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
 
  
  .contact_us_2 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
  }
  
  .contact_us_2 ::placeholder {
    color: #dadada;
  }
  
 
  
  
  @media (max-width: 768px) {
    .contact_us_2 .submit-btn {
      width: 100%;
    }
  
    .contact_us_2 .input {
      width: 100%;
    }
  
    .contact_us_2 .textinput {
      width: 100%;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_2 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.big-container {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 26px;
      line-height: 34px;
    }
  
    .contact_us_2 .input {
      height: 45px;
    }
  }